.bagBox {
  box-sizing: border-box;

  .bagElement {
    display: flex;
    width: 100%;
    position: relative;
    border: 1px dashed grey;
    justify-content: flex-start;

    .headBagElement {
      display: flex;
      align-items: center;
      width: auto;
      justify-content: flex-start;

      div {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border: 1px dotted grey;
      }

      .imageBox {
        height: 100%;
        max-width: 100px;
        align-items: center;
        display: flex;

        img {
          width: 100%;
          height: auto;
        }
      }

      .nameBox a h2 {
        font-size: 14px;
        padding: 2px;
        text-align: center;
      }

    }

    .footerBagElement {
      display: flex;
      justify-content: space-around;
      width: 100%;
      align-items: center;

      div {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border: 1px dotted grey;
      }

      &Meters {
        box-sizing: border-box;
        justify-content: center;

        span {
          margin: auto 10px;
        }
      }

      &Btn {
        max-width: 35px;
        justify-content: center;

        button {
          cursor: pointer;
          width: 25px;
          height: 25px;
          padding: 0;
        }
      }

      &Price {
        justify-content: center;
      }
    }

    .deleteElementBox {
      position: absolute;
      right: 8px;
      top: 8px;
      width: 10px;
      height: 10px;
      border: none;
      font-weight: 900;
      cursor: pointer;
      padding: 0;
      transition: .3s all ease-out;
      color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;

      &:hover {
        color: blue
      }
    }
  }

  .totalCost {
    text-align: end;

    span {
      min-width: 150px;
    }
  }

  .clearBagBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;
    text-align: center;

    div {
      margin: 20px;
    }
  }
}

@media screen and (max-width:680px) {
  .bagBox {


    .bagElement {
      flex-direction: column;
      align-items: stretch;
      box-sizing: border-box;


      .headBagElement {
        height: 98px;

        .nameBox {

          a {
            display: flex;
            align-items: center;
            height: 100%;

          }
        }
      }

      .footerBagElement {
        height: 34px;


        div {
          font-size: 12px;


          span {
            text-align: center;
          }
        }

        &Meters {
          justify-content: center;

          span {
            margin: auto 2px;
            font-size: 12px;
          }
        }
      }
    }
  }
}