.headContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px dotted grey;
  transition: all .3s ease-out;

  .cartIconBox {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
      animation: animate 2s forwards;
    }
  }

  .logoBox {
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
    }
  }

}

.fixed {
  position: sticky;
  width: 100%;
  top: 0;
  background: transparent;
  z-index: 1000;
  transition: all .5s ease-out;
  animation: untransparent .5s forwards;

}



@media screen and (max-width:450px) {
  .headContainer {
    .logoBox {
      width: 150px;
    }
  }
}

@media screen and (min-width:400px) {
  .headContainer {
    .cartIconBox {
      width: 60px;
      height: 60px;
    }
  }
}

@media screen and (min-width:1024px) {
  .headContainer {
    .onlyMobile {
      display: none;
    }
  }

}

@keyframes animate {
  0% {
    transform: scale(.5);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes untransparent {
  0% {
    background: transparent
  }

  100% {
    background: #fff
  }
}