.stripFooterCharacteristicsBox {
  margin: 0 auto;
  width: 100%;

  h3 {
    text-align: center;
  }

  div {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px dotted black;
  }
}