.stripsTitle {
  margin: 20px 10px;
  font-weight: 900;
  text-align: center;
}

.stripsContainerBox {

  display: flex;
  justify-content: space-between;
  width: 100%;

  h2 {
    margin: 10px;
    font-size: 18px;
    border: 1px dotted grey;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      border: 1px dashed #00AFE2;
    }
  }

  .sortedBox {
    position: sticky;
    top: 0;
    max-width: 200px;
    height: 100%;

    h2 {
      padding: 5px 10px;
      text-align: center;
    }

    ul {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      h5 {
        margin: 5px auto;
        width: 100%;
        text-align: center;
      }
    }

    li {
      margin: 5px;
      box-sizing: border-box;
      width: 100%;

      span {
        display: block;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
      }
    }

    span {
      padding: 5px;
      border: 1px dotted grey;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        border: 1px dashed #00AFE2;
      }
    }

    .searchBox {


      &>div {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
      }

      div {
        form {
          width: 100%;
        }
      }
    }
  }

  .stripsElementsBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
      display: block;
      max-width: 320px;
      max-height: 440px;
    }
  }

  a {
    margin: 10px;
    transition: .3s all ease-out;
    text-decoration: none;
    box-shadow: 0 0 2px black;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 0 5px black;
    }
  }
}

.showAllStripsBtnBox {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background: black;
  width: 100%;
  flex-direction: column;

  div {
    text-align: center;
    padding: 20px;
    background: white;
  }
}

@media screen and (min-width:1024px) {
  .mobileOnly {
    display: none;
  }
}

@media screen and (max-width:1024px) {
  .stripsContainerBox {

    .sortedBox {
      position: static;
    }
  }
}

@media screen and (max-width:860px) {
  .stripsTitle {
    font-size: 18px;
  }

  .stripsContainerBox {
    flex-direction: column;

    h2 {
      font-size: 14px;
    }


    .sortedBox {
      max-width: 100%;

      ul {
        justify-content: space-around;

        li {
          width: auto;
        }
      }

      .filterListBox {
        ul {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}