.stripsContainerBox {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .sortedBox {
    max-width: 200px;

    h2 {
      text-align: center;
    }



    ul {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      h5 {
        margin: 5px auto
      }
    }

    li {
      margin: 10px;
      box-sizing: border-box;
      width: 100%;

      span {
        display: block;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
      }
    }

    span {
      padding: 5px;
      border: 1px dotted grey;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        border: 1px dashed blue;
      }
    }
  }

  .stripsElementsBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
      display: block;
      max-width: 320px;
      max-height: 440px;
    }
  }

  a {
    margin: 10px;
    transition: .3s all ease-out;
    text-decoration: none;
    box-shadow: 0 0 2px black;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 0 5px black;
    }
  }
}

.showAllStripsBtnBox {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background: black;
  width: 100%;
  flex-direction: column;

  div {
    text-align: center;
    padding: 20px;
    background: white;
  }
}

.filterArgumentsBox {
  div {
    margin: 15px auto;
    text-align: center;
    box-sizing: border-box;

    button {
      cursor: pointer;
    }
  }
}


@media screen and (max-width:860px) {
  .stripsContainerBox {
    flex-direction: column;

    .sortedBox {
      max-width: 100%;

      ul {
        justify-content: space-around;

        li {
          width: auto;
        }
      }

      .filterListBox {
        ul {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}