.searchForm {
  position: relative;
  max-width: 223px;

  .searchFormInner {
    display: flex;
    height: 21px;
    box-sizing: border-box;
    align-items: center;
    position: relative;

    input {
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 5px;
      outline: none;
      padding: 2px 47px 2px 5px;
      max-width: 100%;

      &:hover,
      &:active,
      &:focus {
        border: 1px solid #00AFE2;
      }
    }

    button {
      position: absolute;
      right: 1px;
      border: none;
      border-radius: 0 5px 5px 0;
      padding: 0;
      margin: auto;
      height: calc(100% - 2px);
      box-sizing: border-box;
      background: #00AFE2;
      color: #fff;
      padding: 0 2px;


      &:hover {
        border-left: 1px solid #00AFE2;
        background: white;
        color: #00AFE2;
      }

      &:disabled {
        display: none;
      }
    }
  }

  .errorMessageBox {
    box-sizing: border-box;
    position: absolute;
    top: 105%;
    border: 1px dashed red;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    transition: all .5s ease-out;
    animation: animate .5s forwards;
    transform: translateY(-100%);
    z-index: 100;
    background: #fff;
    color: black;
    z-index: 5;
  }
}

.foundItems {
  box-sizing: border-box;
  position: absolute;
  top: 105%;
  border: 1px dashed red;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  transition: all .5s ease-out;
  animation: animate .5s forwards;
  transform: translateY(-100%);
  z-index: 100;
  background: #fff;
  color: black;
  overflow-y: auto;
  max-height: 300px;

  .foundItem {
    display: flex;
    z-index: 100000;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 5px 0;

    .imgBox {
      max-width: 50px;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        height: auto;
      }
    }

    .nameBox {
      display: flex;
      align-items: center;

      .nameBoxLinkElement {
        color: blue;
        line-height: 1;
        font-size: 14px;
        transition: all .3s ease-out;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


@keyframes animate {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}