.footerContainer {
  border-top: 1px dotted grey;
  padding: 10px;

  h2 {
    text-align: center;
    margin: 0 auto;
  }

  .footerContactsList {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    transition: .3s all ease-out;

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: blueviolet;
      }
    }
  }
}

@media screen and (max-width:600px) {
  .footerContainer {
    .footerContactsList {
      flex-direction: column;
      text-align: center;
    }
  }
}