.controlsBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

  div {
    box-sizing: border-box;
  }

  .controlsBoxTitle {
    h1 {
      margin: 0
    }
  }

  .controlsBoxButton {
    button {
      cursor: pointer;
      margin: 10px 0;
      display: flex;
      padding: 5px 10px;
      background: #00AFE2;
      color: white;
      border: 1px solid white;
      transition: all 0.3s ease-out;
      border-radius: 5px;
      font-size: 16px;

      &:hover {
        background: white;
        color: #00AFE2;
        border: 1px solid #00AFE2;
      }
    }

  }

}

@media screen and (max-width:680px) {
  .controlsBoxTitle {
    h1 {
      font-size: 14px;
    }
  }
}

@media screen and (max-width:600px) {
  .controlsBox {
    flex-direction: column;
    padding: 0;

    div {
      padding: 3px;
      box-sizing: border-box;
    }

    .controlsBoxButton {
      button {
        text-align: center;
        margin: 10px auto;
      }
    }

  }
}