.sideDrawer {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color: #fff;
  width: 300px;
  z-index: 1000;
  transition: all 0.3s ease-out;
  transform: translateX(-100%);
}

.isOpenSideDrawer {
  transform: translateX(0)
}

.isOpenSideDrawer ul {
  margin: 0;
  display: block;
  padding: 0;
  width: 100%;

  li {
    width: 100%;

    a {
      transition: all 0.3s ease-out;
      display: block;
      padding: 10px 10px 10px 10px;
      border-bottom: 1px solid grey;
      position: relative;

      &:hover {
        border-bottom: 1px solid #005573;
      }

      &:hover:after {
        content: '>';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
    }
  }
}