.stripContainer {
  text-decoration: none;
  padding: 10px 0;

  .stripHeadBox {
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
      width: 100%;
    }
  }

  .stripFooterBox {
    width: 100%;
  }
}