form {
  margin: 10px auto;

  label {
    font-weight: 900;
    text-decoration: underline;
    cursor: pointer;
    display: block;
  }

  textarea {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    resize: none;
    font-size: 14px;
  }

  button {
    display: block;
    margin: 15px 0;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid white;
    background: #00AFE2;
    color: white;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;

    &:hover {
      border: 1px solid #00AFE2;
      background: white;
      color: #00AFE2;
    }
  }
}

.errorMessageBox {
  margin: 10px auto;

  span {
    color: red;
    font-weight: 900;

  }
}

@media screen and (max-width:1025px) {
  form {

    button {
      margin: 15px auto;
    }
  }
}