.stripsElementBox {

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 300px;

  img {
    width: 100%;
    height: auto;
  }

  .stripsElementFooter {
    padding: 0 5px 5px 5px;

    div {
      color: #050100;
    }

    h4 {
      margin: 0;
    }
  }
}